### Вычисления с помощью NumPy

### Задание 1

Найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a.

In [5]:
import numpy as np

In [14]:
a = np.array([[1, 6 ],
              [2, 8 ],
              [3, 11],
              [3, 10],
              [1, 7 ]])

In [15]:
mean_a = a.mean(axis = 0)

### Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a.

In [20]:
a_centered = a - mean_a

### Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [50]:
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])

### Задание 4

Проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov.

In [115]:
np.cov(np.matrix.transpose(a))[0, 1]

2.0

### Работа с данными в Pandas

### Задание 1

Создайте датафрейм authors со столбцами author_id и author_name. Затем создайте датафрейм book cо столбцами author_id, book_title и price.

In [59]:
import pandas as pd

In [62]:
authors = pd.DataFrame(
    {'author_id':[1, 2, 3],
    'author_name':['Тургенев', 'Чехов', 'Островский']},
    columns = ['author_id', 'author_name']
)

In [65]:
book = pd.DataFrame(
    {'author_id':[1, 1, 1, 2, 2, 3, 3],
    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]},
    columns = ['author_id', 'book_title', 'price']
)

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [66]:
authors_price = pd.merge(authors, book, on = 'author_id')

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [72]:
top5 = authors_price.sort_values(by = ['price'], ascending = False).head()

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца: author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

In [90]:
authors_stat = authors_price.groupby('author_name').agg(
        min_price = ('price', 'min'),
        max_price = ('price', 'max'),
        mean_price = ('price', 'mean')
    )

### Задание 5

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [92]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [93]:
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [109]:
book_info = pd.pivot_table(authors_price, values = 'price', index = ['author_name'],
                     columns=['cover'], aggfunc = np.sum, fill_value = 0)

In [111]:
book_info.to_pickle('book_info.pkl')

In [112]:
book_info2 = pd.read_pickle('book_info.pkl')

In [113]:
book_info.equals(book_info2)

True